##### Function Basics

In [1]:
def say_hello():
    print('hello')

In [2]:
say_hello()

hello

In [3]:
def say_hello(name):
    print(f'hello {name}')

In [4]:
say_hello('Yash')

hello Yash

In [5]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [6]:
#we can set default parameters
def say_hello(name='Default'):
    print(f'hello {name}')

In [7]:
say_hello('Yash')

hello Yash

In [8]:
say_hello()

hello Default

In [9]:
def add_num(a,b):
    return a+b

In [10]:
add_num(20,30)   #output is generated i.e the function returns a value which we can save in the variable

50

In [11]:
result = add_num(20,30)

In [12]:
result

50

In [13]:
def add_num_print(a,b):
    print(a+b)

In [14]:
add_num_print(20,30)     #output is not generated only value is printed

50

In [15]:
result = add_num_print(20,30)

50

In [16]:
result

In [17]:
type(result)

NoneType

In [18]:
#we can print as well as return also
def add_print_return(a,b):
    print(a+b)
    return a+b

In [19]:
result = add_print_return(20,30)

50

In [20]:
result

50

In [21]:
type(result)

int

In [22]:
add_print_return('10','20')   #we need to handle the user input type for desired output

1020

'1020'

#### Function with Logic

In [1]:
def even_check(num):
    result = num%2==0
    return result

In [2]:
even_check(20)

True

In [3]:
even_check(21)

False

In [4]:
def even_check(num):
    return num%2==0

In [5]:
even_check(20)

True

In [10]:
def check_any_even_in_list(l):
    for num in l:
        if num%2==0:
            return True
        else:
            pass
    return False

In [11]:
check_any_even_in_list([1,3,5])

False

In [12]:
check_any_even_in_list([1,5,3,2,6])

True

In [13]:
def give_even_in_list(l):
    li = []
    for num in l:
        if num%2==0:
            li.append(num)
        else:
            pass
    return li

In [14]:
give_even_in_list([2,3,5,8,4,9,6,7,3])

[2, 8, 4, 6]

In [1]:
work_hours = [('nik',300),('yash',500),('suresh',600)]

In [2]:
def employee_check(work_hours):
    current_max = 0
    employee_name = ''
    
    for employee,hours in work_hours:
        if hours>current_max:
            current_max=hours
            employee_name=employee
        else:
            pass
    return(current_max,employee_name)       #returns a tuple

In [3]:
employee_check(work_hours)

(600, 'suresh')

In [4]:
#we can save result
result = employee_check(work_hours)

In [5]:
result

(600, 'suresh')

In [6]:
#we can seperately save them
hours,employee = employee_check(work_hours)

In [7]:
hours

600

In [8]:
employee

'suresh'

In [9]:
from random import shuffle

In [10]:
example = [1,2,3,4,5,6]

In [11]:
shuffle(example)   #in place shuffle so no output

In [12]:
example

[5, 3, 1, 6, 2, 4]

##### Creating a Guess Game

In [13]:
def shuffle_list(lst):
    shuffle(lst)
    return lst

In [15]:
def player_guess():
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input('Enter any number between 0,1 and 2')
    return int(guess)

In [17]:
def check_guess(my_shuffled_list,guessed_index):
    if my_shuffled_list[guessed_index]=='O':
        print('Correct')
    else:
        print('Wrong')
        print(my_shuffled_list)

In [18]:
#executing the code---showing many function interaction with each other
my_list = [' ','O',' ']
mixedup_list = shuffle_list(my_list)
guess = player_guess()
check_guess(mixedup_list,guess)

Enter any number between 0,1 and 22
Wrong
['O', ' ', ' ']

###### Args and Kwargs

In [1]:
def summation(a,b,c=0,d=0,e=0):
    return sum([a,b,c,d,e])

In [2]:
#in a function if we want to use n number of arguments then we have to manually specify them one by one
summation(2,3,5,6,7)

23

In [3]:
summation(2,3,5,8,4,9,6) #if it exceeds then we get the error

TypeError: summation() takes from 2 to 5 positional arguments but 7 were given

In [7]:
#we can use *args instead
def explanation(*args):
    print(args)
    return args

In [8]:
result=explanation(30,20,10,50,20,40,63,99)

(30, 20, 10, 50, 20, 40, 63, 99)

In [9]:
type(result)

tuple

In [17]:
#this solves our previous problem
def summation(*args):
    return sum(args)

In [18]:
summation(1,6,8,6,6,44,4)

75

In [22]:
def myfunc(**kwargs):
    print (kwargs)
    if 'fruits' in kwargs:
        print('My choice of fruit is {}'.format(kwargs['fruits']))
    else:
        print('there is no such item')
    return kwargs

In [23]:
res = myfunc(fruits='apple',veggie = 54)

{'fruits': 'apple', 'veggie': 54}
My choice of fruit is apple

In [24]:
type(res)

dict

In [27]:
def both(*args,**kwargs):
    print('the first ones are {} and {}'.format(args[1],kwargs['food']))

In [28]:
both(23,12,6,grocery='rice',food= 'eggs',recharge = 'airte')

the first ones are 12 and eggs

###### lambda expression, map and filter Function

In [29]:
def square(num):
    return num**2

In [30]:
lst = [1,2,3,4,5,6]

In [31]:
#if we want to calculate square value for each value in the list then we can use the map function
map(square,lst)

In [32]:
#since it returns a iterator we need to use loop to get seperate values
for item in map(square,lst):
    print(item)

1
4
9
16
25
36

In [33]:
#instead we can use list() to create our result
list(map(square,lst))

[1, 4, 9, 16, 25, 36]

In [34]:
def slicer(name):
    if len(name)%2==0:
        return 'Even'
    else:
        return name[0]

In [35]:
names = ['Amdy','Sonny','Suryakant','Yas','Nikhil']

In [36]:
list(map(slicer,names))

['Even', 'S', 'S', 'Y', 'Even']

In [37]:
def even_check(num):
    return num%2==0

In [38]:
filter(even_check,[1,2,3,4,5,6])

In [40]:
list(filter(even_check,[1,2,3,4,5,6])) #returns an iterator for which function is true

[2, 4, 6]

In [45]:
list(filter(None,['a',True,False]))  #if function is none then it returns an iterator of objects in list having true value

['a', True]

In [47]:
lambda num: num**2

In [48]:
(lambda num: num**2)(2)

4

In [49]:
result=lambda num: num**2

In [50]:
result(3)

9

In [51]:
#A lambda function is a small anonymous function.
#A lambda function can take any number of arguments, but can only have one expression.
x = lambda a,b,c : (a+b)*c

In [53]:
x(3,5,6)

48

In [54]:
#best use of lambda function
list(map(lambda num:num**2,lst))

[1, 4, 9, 16, 25, 36]

In [56]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6]

###### Scope

In [57]:
x = 25

def printer():
    x = 50
    print(x)

In [58]:
print(x)

25

In [59]:
printer()

50

Python Variable follows LEGB Rule 
It will lookup in following sequence:
Local>Enclosing Function>Global>Built-In

In [66]:
#Nested function
name = 'I am a Global variable'

def outer():
    
    #name = 'I am an Enclosing function variable'
    
    def inner():
        
        #name = 'Iam an local function variable'
        print (name)
    
    inner()

In [62]:
#if we call outer function as it is, it will look for local variable first
outer()

Iam an local function variable

In [65]:
#if we comment out local variable
outer()

I am an Enclosing function variable

In [67]:
#if we comment out enclosing variable
outer()

I am a Global variable

In [68]:
x  = 50
def func(x):
    print(f'the value of x is {x}')
    
    #local reassignment
    x = 200
    print(f'I just changed x locally to {x}')

In [69]:
func(x)

the value of x is 50
I just changed x locally to 200

In [70]:
print(x)

50

In [71]:
#if we want to change variable globally then we can use global keyword
x  = 50
def func():
    global x
    print(f'the value of x is {x}')
    
    #local reassignment on global variable
    x = 200
    print(f'I just changed x globally to {x}')

In [72]:
func()

the value of x is 50
I just changed x globally to 200

In [73]:
print(x)

200

In [74]:
#it is not the best practice to use global keyword instead we can just return x and reassign its value
x  = 50
def func(x):
    print(f'the value of x is {x}')
    
    #local reassignment
    x = 200
    print(f'I just changed x locally to {x}')
    return x

In [75]:
x = func(x)

the value of x is 50
I just changed x locally to 200

In [76]:
x

200