In [3]:
for num in range(10):            #can read documentation about this by using 'shift+tab' on the function
    print (num)

0
1
2
3
4
5
6
7
8
9

In [6]:
for num in range(5,10):
    print(num)

5
6
7
8
9

In [7]:
for num in range(5,10,2):
    print(num)

5
7
9

In [8]:
range(1,11,2)           #returns that object

range(1, 11, 2)

In [9]:
#we can cast this in to list
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [10]:
print(range(1,11,2))

range(1, 11, 2)

In [11]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [12]:
#above method is the common method therefore we can use below method instead
for item in enumerate('abcde'):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [13]:
#by tuple unpacking method
for index,letter in enumerate('abcde'):
    print(index,' ',letter)

0   a
1   b
2   c
3   d
4   e

In [14]:
l1 = [1,2,3]
l2 = ['a','b','c']

In [15]:
for item in zip(l1,l2):  #return tuples of pair of iterables passed in the argument
    print(item)          #we can pass 2 or more arguments

(1, 'a')
(2, 'b')
(3, 'c')

In [16]:
'x' in [1,2,3]

False

In [17]:
2 in [1,2,3]

True

In [18]:
'a' in 'world'

False

In [19]:
'my_item' in {'my_item':325}

True

In [24]:
d = {'my_item':325}

In [26]:
325 in d.values()

True

In [27]:
l = [10,25,3,69,256,30,14]

In [28]:
min(l)

3

In [29]:
max(l)

256

In [30]:
from random import shuffle

In [31]:
list_1 = [2,3,5,8,7,9,12,45,98]

In [32]:
shuffle(list_1)

In [33]:
list_1

[2, 5, 45, 9, 7, 12, 8, 3, 98]

In [34]:
from random import randint

In [35]:
randint(0,25)

18

In [36]:
#taking user input
input('whats your name?')

whats your name?Yash

'Yash'

In [37]:
#we can save input in variable
name = input('Whats your Name?')

Whats your Name?Yash

In [38]:
name

'Yash'

In [39]:
#input always accepts string input
num = input('whats your roll_num?')

whats your roll_num?23

In [40]:
type(num)

str

In [41]:
#we can cast it into other data type
int(num)

23

In [42]:
float(num)

23.0

In [43]:
#we can cast directly 
result = int(input('Enter number?'))

Enter number?23

In [44]:
type(result)

int

In [45]:
result

23

### List Comprehension

In [1]:
#common method
list1 = []

for x in 'Hello':
    list1.append(x)

In [2]:
list1

['H', 'e', 'l', 'l', 'o']

In [3]:
#comprehension method
list2 = [x for x in 'Hello']    #the first x represents the element to be appended

In [4]:
list2

['H', 'e', 'l', 'l', 'o']

In [6]:
list3 = [x+'2' for x in 'Hello']

In [7]:
list3

['H2', 'e2', 'l2', 'l2', 'o2']

In [8]:
l4 = [x for x in range(0,11)]

In [9]:
l4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#we can also add if-else statement 
l5 = [x for x in range(0,11) if x%2==0]

In [11]:
l5

[0, 2, 4, 6, 8, 10]

In [12]:
l6 = [x**2 for x in range(0,11) if x%2==0]

In [13]:
l6

[0, 4, 16, 36, 64, 100]

In [17]:
l7 = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [18]:
l7

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [19]:
#nested loops
my_list = []

for x in [2,3,5]:
    for y in [10,20,30]:
        my_list.append(x*y)

In [20]:
my_list

[20, 40, 60, 30, 60, 90, 50, 100, 150]

In [21]:
#another approach
my_list = [x*y for x in [2,3,5] for y in [10,20,30]]

In [22]:
my_list

[20, 40, 60, 30, 60, 90, 50, 100, 150]